# For Next.js (frontend)
frontend/node_modules
frontend/.next


# For .NET (backend)
backend\VirualTourismApp.Services.Core\bin
backend\VirualTourismApp.Services.Core\obj
backend\VirualTourismApp.Services.Core\appsettings*.json

# General
*.log
*.env
