.navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  /* With border-box applied globally, padding is included in the width */
  z-index: 400; /* Lower than dropdown's z-index */
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(72, 110, 223, 0.97); /* 80% opaque */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.navbar-logo {
  display: flex;
  font-size: 25px;
  font-weight: 700;
  font-family: monospace;
  color: #f9f9f9;
  width: 250px; /* Keep the logo area fixed */
  cursor: pointer;
}

.navbar-links {
  list-style: none; /* Remove default list styles */
  display: flex;
  gap: 60px; /* Add spacing between the links */
  margin: 0; /* Reset margins */
  padding: 0; /* Reset padding */
}

.navigation-btn {
  padding: 10px 15px;
  border: none;
  background-color: #0070f3;
  color: white;
  border-radius: 5px;
  cursor: pointer; /* Pointer cursor for buttons */
  font-size: 1rem; /* Font size for better readability */
  transition: color 0.3s ease; /* Smooth hover transition */
}

.sign-in-btn {
  padding: 10px 15px;
  border: none;
  background-color: #0070f3;
  color: white;
  border-radius: 5px;
  cursor: pointer; /* Pointer cursor for buttons */
  font-size: 1rem; /* Font size for better readability */
  transition: color 0.3s ease; /* Smooth hover transition */
}

.profile-icon {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dropdown-menu {
  position: absolute;
  z-index: 1000; /* Higher value to bring it to the front layer */
  background-color: white;
  top: 60px;
  right: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  list-style: none;
  padding: 10px;
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #f0f0f0;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}
